body{
    padding: 0;
    margin: 0;
    font-size: 16px;
    background-color: #aeffe5;

}

ul , li{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav{
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

nav ul{}